.friendsList {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item_1,
.item_2,
.item_3,
.item_4,
.item_5 {
  display: flex;
  justify-content: center;
  margin: 20px;
  position: relative;
  padding: 10px;
  min-width: 170px;
  border: 1px solid #999;
}

.online {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 27px;
  left: 18px;
}

.offline {
  background-color: red;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  top: 27px;
  left: 18px;
}

.avatar {
  margin: 0 10px 0 10px;
}
