.transaction_history {
  border: 1px solid #ddd;
  min-width: 900px;
  margin: 0 auto;
}

.tableContent {
  /* display: flex;
  flex-wrap: wrap; */
}

.tableRow {
  border: 1px solid #ddd;
  padding: 10px 50px;
  color: #888;
}

.typeHead,
.amountHead,
.currencyHead {
  background-color: rgb(35, 179, 204);
  color: white;
  font-size: 12px;
  width: 100px;
  padding: 10px 50px;
  text-transform: uppercase;
}
